/* Estilo general del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Fondo completamente negro */
    color: white; /* Texto blanco */
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

h3 {
    color: white;
    margin-bottom: 10px;
}

/* Estilo de las pestañas */
.dash-tabs .tab {
    background-color: #333333; /* Fondo gris oscuro */
    color: #ffcc00; /* Texto amarillo */
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #555555; /* Bordes grises */
    cursor: pointer;
    text-align: center;
}

.dash-tabs .tab:hover {
    background-color: #555555; /* Fondo más claro al pasar el mouse */
    color: #ffffff; /* Texto blanco */
}

.dash-tabs .tab--selected {
    background-color: #0066ff; /* Fondo azul para la pestaña activa */
    color: #ffffff; /* Texto blanco */
    border: 2px solid #0066ff;
}

/* Estilo de los menús desplegables */
.dcc-Dropdown {
    background-color: #1e1e1e; /* Fondo oscuro */
    color: #e0e0e0; /* Texto gris claro */
    border: 1px solid #333333; /* Bordes oscuros */
    border-radius: 5px;
}

.dcc-Dropdown .dropdown {
    background-color: #1e1e1e; /* Fondo oscuro interno */
    color: #e0e0e0; /* Texto gris claro */
}

.dcc-Dropdown:hover {
    border-color: #ffcc00; /* Bordes resaltados al pasar el mouse */
}

.dcc-Dropdown .dropdown-item {
    background-color: #1e1e1e; /* Fondo oscuro interno */
    color: #bfbfbf; /* Texto gris medio */
}

.dcc-Dropdown .dropdown-item:hover {
    background-color: #2a2a2a; /* Fondo gris más claro en hover */
    color: white; /* Texto blanco en hover */
}

/* Espaciado adicional para gráficos */
.dcc-Graph {
    margin-top: 20px;
}

/* Estilo de los tabs */
.custom-tabs .tab {
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.custom-tabs .tab--selected {
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

/* Estilo de los menús desplegables personalizados */
.custom-dropdown {
    background-color: #1e1e1e !important;
    color: #5c5a5a !important; /* Texto gris claro para mejor contraste */
    border-radius: 5px;
    border: 1px solid #007bff !important;
}

.custom-dropdown option {
    background-color: #1e1e1e;
    color: #d0d0d0; /* Texto gris claro */
}

.custom-dropdown:hover {
    background-color: #2a2a2a !important;
}

.custom-dropdown .dropdown-item {
    background-color: #1e1e1e;
    color: #929292; /* Texto gris medio */
}

.custom-dropdown .dropdown-item:hover {
    background-color: #2a2a2a;
    color: white;
}
